/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header, .main-nav, .top-nav, .top-banner, .portfolio {
    display: flex;
  }
  .main-header {
    width: 90%;
    margin: 0 auto;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  .top-banner {
    flex-direction: row-reverse;
  }
  .intro-txt {
    text-align: left;
    padding: 0px 20px 15px 35px;
    font-size: 1.25em;
  }

  #profile-img {
    max-width: 300px;
    max-height: 200px;
    height: auto;
    width: auto;
  }
  .top-nav a {
    background-color: #F3F3F3;
  }
  .portfolio {
    flex-wrap: wrap;
    width: auto;
    padding: 1px;
  }
  .port {
    width: 47%;
  }
  #img-profile {
    width: 42%;
    padding-right: 20px;
  }

}

@media (min-width: 1025px) {
  .main-header, .port {
    width: 103%;
    max-width: 1100px;
  }
  .intro-txt {
    padding: 0px 40px 15px 10px;
    font-size: 1.3em;
    margin-top: 1px;
  }
  .port {
    width: 31%;
    padding: 0px;
  }
  .port img {
    width: 100%;
    height: auto;
    padding-right: 10px;
  }

  .travel-app, .calculator {
    margin-right: 8px;
    margin-left: 16px;
  }
  .search, .photo-gallery {
    margin-right: 8px;
    margin-left: 20px;
  }
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}