/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #f3f3f3;
  color: #4e4b47;
  max-width: 1000px;
  margin: auto;
}
a {
  text-decoration: none;
}
.main-header {
  margin-top: 15px;
  padding-top: 2.5em;
  padding-bottom: .5em;
}
.student-name {
  font-size: 1.4em;
  margin: 0;
  padding-bottom: 1px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.headline {
  font-size: 1.3em;
  font-style: normal;
  font-weight:500;
  text-align: center;
  margin-bottom: -5px;
}
#img-profile {
  width: 60%;
  margin: auto;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.top-nav {
  margin-top: 5px;
}
.top-nav a {
  font-size: .85em;
  font-weight: 900;
  color: #333;
  background-color: white;
  text-transform: uppercase;
  margin: 10px 15px;
}
.top-nav a:hover {
  color: #7a5ef5;
}
.student-name, .top-nav a {
  text-align: center;
  display: block;
  padding: 10px 10px;
}
main {
  background-color: #fff;
  padding-top: 20px;
}
.intro-txt {
  color: gray;
  font-size: 1.15em;
  padding: 2px 20px 1px 20px;
}

#portfolio {
  text-align: center;
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 3em;
}
.port {
  padding: 1em;
  margin: 0 .5em .8em;
}
.port-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.port-txt {
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

/* =====Top Banner styles======= */
.top-banner {
  padding-bottom: 1.75em;
  text-align: center;
}
/* ==== skills and contact section styles */
.section-heading {
  text-align: center;
  font-size: 1em;
  font-weight:900;
  text-transform: uppercase;
}
.skills, .contact {
  text-align: center;
  border-top: 1px dotted #cfcfcf;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 3em;
}
.contact{
  padding-left: 15em;
  padding-right: 15em;
}
.skills li:nth-child(odd) {
  background: #7a5ef5;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #5f5b56;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}
#contact-txt {
  padding-bottom: 2em;
}
.contact-txt {
  display: block;
  text-align: center;
  padding: 0 10px 0 10px;
  border-top: .12em dotted #c1c1c1;
}
footer {
  width: 100%;
  float: left;
}
#bottom-name {
  float: left;
  font-size: 1em;
  font-weight: bold;
  padding-left: .75em;
}
#bt-top {
  font-weight: 900;
  float: right;
  padding-right: 1em;
}
#bt-top a {
  color: #333;
}
#bt-top a:hover {
  color: #7a5ef5;
}

/* ================================= 
  Media Queries
==================================== */